[client]

default-character-set = utf8mb4

[mysqld]
# basic settings
autocommit = 1

# buffer settings
max_allowed_packet = 96M
slave_pending_jobs_size_max= 100M

# connection
interactive_timeout = 1800
wait_timeout = 1800
lock_wait_timeout = 1800
max_connections = 1000
max_user_connections = 1000
max_connect_errors = 10
read_buffer_size = 2M
read_rnd_buffer_size = 4M
sort_buffer_size = 4M
tmp_table_size = 8M
join_buffer_size = 8M

# log settings
## open slow query settings
slow_query_log = 1
log-error = /opt/bitnami/mysql/logs/mysqld.log
slow-query-log-file=/opt/bitnami/mysql/logs/slow-mysqld.log
log_slow_admin_statements = 1

expire_logs_days = 5
long_query_time = 2
min_examined_row_limit = 100

# innodb settings #
## innodb数据页大小
innodb_page_size = 16K

## 包括数据页、索引页、插入缓存、锁信息、自适应哈希所以、数据字典信息。
innodb_buffer_pool_size=20G

## 这个参数能较好的运行于多核处理器，支持使用此参数对服务器变量建立多个缓冲池实例
innodb_buffer_pool_instances = 16

## 在启动时把热数据加载到内存里
innodb_buffer_pool_load_at_startup = 1

## 在关闭时把热数据dump到本地磁盘
innodb_buffer_pool_dump_at_shutdown = 1

## 控制LRU列表中可用页的数量,默认值为1024
innodb_lru_scan_depth = 1024

## 设置锁等待的时间是5s,一旦数据库锁超过这个时间就会报错
innodb_lock_wait_timeout = 5

## 动态调整刷新脏页的数量
innodb_io_capacity = 2048

## 只有当你在频繁写操作的时候才有意义（它不适用于读操作，例如 SELECTs）。若你真的需要对它进行调整，最好的方法是要了解系统可以支持多大的 IOPS
innodb_io_capacity_max = 4096

## 控制着innodb数据文件及redo log的打开、刷写模式,有三个值：fdatasync(默认)，O_DSYNC，O_DIRECT
innodb_flush_method = O_DIRECT

## 表压缩
innodb_file_format = Barracuda

innodb_file_format_max = Barracuda

## 回滚段个数
innodb_undo_logs = 128

## 用于设定创建的undo表空间的个数，在mysql_install_db时初始化后，就再也不能被改动了；默认值为0，表示不独立设置undo的tablespace，默认记录到ibdata中
innodb_undo_tablespaces = 3

## 当刷新一个脏页时，innodb存储引擎会检测该页所在区(extent)的所有页，如果是脏页，那么一起进行刷新,适用于机械磁盘
innodb_flush_neighbors = 1

## 事务日志文件大小
innodb_log_file_size = 1G

## 事务日志组数
innodb_log_files_in_group = 2

## 该参数确保有足够大的日志缓冲区来保存脏数据在被写入到日志文件之
innodb_log_buffer_size = 2M

## 指定多个innodb_purge_threads来进一步加快和提高undo回收速度。
innodb_purge_threads = 4

## 这个参数默认值是OFF。当改为ON时，允许列索引最大达到3072
innodb_large_prefix = 1

## 限制并发线程的数量，一旦执行线程的数量达到这个限制，额外的线程在被放置到对队列中之前，会睡眠数微秒，可以通过设定参数innodb_thread_sleep_delay来配置睡眠时间
innodb_thread_concurrency = 16

## 保存死锁日志
innodb_print_all_deadlocks = 1

## 开启innodb严格检查模式
innodb_strict_mode = 1

## 在创建InnoDB索引时用于指定对数据排序的排序缓冲区的大小,这个参数只会在创建索引的过程中被使用
innodb_sort_buffer_size = 4M

## 写线程 默认4个,负责数据块的写入
innodb_write_io_threads = 4

## 读线程，负责数据块读取
innodb_read_io_threads = 4

## 开启独立表空间
innodb_file_per_table = 1

## 参数控制统计信息采样的数量，统计信息收集是采样分析
innodb_stats_persistent_sample_pages = 64

innodb_autoinc_lock_mode = 2